p,a{
    color: green;
}
li{
    list-style: square;
}
span.special,li.special{
    color: orange;
    font-weight: bold;
}
li em{
color: purple;
}
a:hover{
    color: saddlebrown;
    text-decoration: none;
}
h1+p{
    font-size: 200%;
}
body h1+p .special{
    color: yellow;
    background-color: black;
    padding: 5px;
}
#one{
    color: red;
    background-color: blanchedalmond;
}